* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #445357;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__image {
  width: 333px;
}

.introtext {
  display: flex;
  justify-content: center;
  background: #e8eced;
}

.introtext__h {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
  border-bottom: 1px solid;
  color: #f16334;
}

.introtext__h2 {
  font-size: 60px;
  text-align: center;
}

.introtext__p {
  margin: auto;
  padding: 0.5em;
  font-size: 20px;
  font-weight: lighter;
}

.input {
  background: #f3f5f6;
  margin-bottom: 20px;
}

.input__h {
  font-size: 40px;
  text-align: center;
}

.input__p {
  padding: 0.5em;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
}

.input__ul {
  font-size: 20px;
  font-weight: lighter;
}

.output {
  background: #dde3e4;
  margin-bottom: 20px;
}

.output__h {
  font-size: 40px;
  text-align: center;
}

.output__p {
  padding: 0.5em;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
}

.output__ul {
  font-size: 20px;
  font-weight: lighter;
}

.trackrecord {
  background: #c6d0d2;
}

.trackrecord__h {
  font-size: 40px;
  text-align: center;
}

.trackrecord__p {
  padding: 0.5em;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
}

.trackrecord__ul {
  font-size: 20px;
  font-weight: lighter;
}

footer {
  margin: auto;
}

.footer__p {
  text-align: center;
  font-weight: lighter;
  color: #dddddd;
}
