<main class="main">
  <div class="stage">
    <h2 class="main__h2">Du möchtest mehr Traffic?</h2>
    <p class="main__p">
      Du möchtest deine Online-Performance verbessern oder bist auf der Suche
      nach der richtigen digitalen Strategie für dein Unternehmen oder deinen
      Business Case?
    </p>
    <p class="main__p">
      Durch meine jahrelange Arbeit in digitalen Geschäftsfeldern und meiner
      Erfahrung im Aufbau und Betrieb digitaler Produkte, unterstütze ich dich gern dabei, für dein Produkt individuell
      passende Lösungen zu finden.
    </p>
    <a href="#contact" class="main__button">
      Ja, ich will...
    </a>
  </div>
  <div class="who">
    <h2 class="main__h2">Wer bin ich?</h2>
    <div class="flex">
      <p class="main__p" style="align-self: flex-start">
        Du möchtest deine Online-Performance verbessern oder bist auf der Suche
        nach der richtigen digitalen Strategie für dein Unternehmen oder deinen
        Business Case?
      </p>
      <img src="images/martin-kaltwasser-s_w-800.jpg" class="who__img" style="align-self: flex-end" alt="Martin kaltwasser" />
    </div>
  </div>
  <div class="get">
    <h2 class="main__h2">Get</h2>
    <p class="main__p">Hiermit kenne ich mich sehr gut aus...</p>
    <ul class="main__ul">
      <li>Digital Strategy Consulting</li>
      <li>Digital Marketing Management</li>
      <li>Digital Projectmanagement</li>
      <li>Digital Analytics & Controlling</li>
      <li>Agile Management</li>
      <li>Enabeling & Teaching</li>
      <li>Workshops</li>
    </ul>
  </div>
  <div class="digital">
    <h2 class="main__h2">Digital</h2>
    <p class="main__p">Darin habe ich viel Erfahrung....</p>
    <ul class="main__ul">
      <li>Digital Publishing</li>
      <li>Online Marketing</li>
      <li>Searchengine Optimization (SEO)</li>
      <li>Contentmanagement & Strategy</li>
      <li>Advertising & Strategy</li>
      <li>Performance & Programmatic Advertising</li>
      <li>E-Commerce & Amazon-Commerce</li>
    </ul>
  </div>
  <div class="done">
    <h2 class="main__h2">Done</h2>
    <p class="main__p">Das bedeutet gemeinsamer Erfolg...</p>
    <ul class="main__ul">
      <li>höhere Sichtbarkeit</li>
      <li>mehr Traffic</li>
      <li>digitales Brandbuilding</li>
      <li>mehr Leads</li>
      <li>technische Webseiten-Optimierung</li>
      <li>mehr Conversions</li>
      <li>performanceorientiertes Advertising</li>
      <li>höhere Umsätze</li>
    </ul>
  </div>
  <div class="references">
    <h2 class="main__h2">Referenzen</h2>
    <p class="main__p">Ein Auswahl meiner Arbeitgeber und Kunden</p>
    <ul class="main__ul">
      <li class="main__ul--li">Axel Springer SE</li>
      <li class="main__ul--li">GoEuro.com</li>
      <li class="main__ul--li">Promipool.de</li>
      <li class="main__ul--li">Immowelt.de</li>
      <li class="main__ul--li">Eatsmarter.de</li>
      <li class="main__ul--li">Wunderweib.de</li>
      <li class="main__ul--li">Lecker.de</li>
      <li class="main__ul--li">WFST</li>
      <li class="main__ul--li">Cutter & Soul</li>
      <li class="main__ul--li">Klambt Verlag</li>
      <li class="main__ul--li">Funke Zeitschriftengruppe</li>
      <li class="main__ul--li">Bild der Frau</li>
    </ul>
  </div>
  <div class="contact">
    <h2 class="main__h2" id="contact">Kontakt</h2>
    <p class="main__p">
      Martin Kaltwasser <br />
      Digital Strategist <br />
      Mobil: 0162 61 16 59 4 <br />
      E-Mail:  martin@kaltwasser.io <br />
      <a href="https://www.linkedin.com/in/martin-kaltwasser-931b22a9/" class="links">Linkedin
      </a>
      <br />
      <a href="https://www.xing.com/profile/Martin_Kaltwasser/cv?sc_o=mxb_p" class="links">Xing
      </a>
    </p>
  </div>
</main>