<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Team App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body class="imprint">
    <%- include('components/header') %>
    <h1>Impressum</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae laudantium
      rerum veniam repudiandae ad atque accusamus, id suscipit sit nemo hic
      quisquam dolore dolores est vel, minus sapiente eum voluptas?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore nobis
      reprehenderit dolor corporis aliquid delectus expedita, ea veritatis
      libero quasi. Quod distinctio eos ullam saepe, omnis soluta error impedit
      consequuntur.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos eum
      deserunt, consectetur velit obcaecati enim expedita, neque dolor error
      placeat commodi quidem ut tempore est cupiditate excepturi quos beatae!
      Perspiciatis.
    </p>
    <%- include('components/footer') %>
  </body>
</html>
