.bg-dark {
  background: #333; }

.text-light {
  color: #efefef; }

.flex {
  display: flex; }
  @media screen and (max-width: 630px) {
    .flex {
      flex-direction: column; } }

.links {
  color: #fcbf49;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5em; }

* {
  box-sizing: border-box; }

body {
  display: flex;
  font-family: "Lato", sans-serif;
  color: #445357;
  margin: 0 auto;
  padding: 20px; }
  @media screen and (min-width: 600px) {
    body {
      max-width: 80%; } }

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px auto; }

/*height: 100vh;*/
/*  grid-template-rows: 48px auto 48px; // header, scroll-area, footer*/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 3;
  grid-row: 1 / 2; }

.header__img {
  display: flex;
  flex: 1;
  max-width: 300px;
  justify-content: center;
  align-items: center; }

main {
  display: grid;
  grid-gap: 25px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr; }

.main__p {
  margin: auto;
  padding: 0.5em;
  font-size: 20px;
  font-weight: lighter;
  line-height: 1.5em; }

.main__ul {
  font-size: 20px;
  font-weight: lighter;
  line-height: 1.5em; }

.main__h1 {
  font-size: 50px;
  font-weight: lighter;
  margin: 25px;
  color: #003049; }

.main__h2 {
  text-align: center;
  font-size: 50px;
  font-weight: lighter;
  margin: 25px;
  color: #003049; }
  @media screen and (max-width: 440px) {
    .main__h2 {
      font-size: 40px; } }

.main__button,
.main__ul--li {
  align-self: center;
  background: #fcbf49;
  border-radius: 6px;
  color: white;
  padding: 10px;
  font-weight: bold;
  text-decoration: unset;
  margin: 25px;
  font-size: 20px; }

.main__ul--li {
  list-style-type: none;
  display: inline-block;
  margin: 10px;
  font-weight: normal;
  line-height: 1.5em;
  background: #003049; }

.stage {
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  background: #f3f5f6;
  padding: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px; }

.who {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  background: #f3f5f6;
  padding: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px; }

.who__img {
  max-width: 300px;
  margin-left: 25px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px; }
  @media screen and (max-width: 760px) {
    .who__img {
      justify-content: center;
      align-items: center;
      margin: 25px auto; } }

.get {
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  background: #f3f5f6;
  padding: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px; }
  @media screen and (min-width: 930px) {
    .get {
      grid-column: 1 / 2;
      grid-row: 4 / 5; } }

.digital {
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  grid-row: 5 / 6;
  background: #f3f5f6;
  padding: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px; }
  @media screen and (min-width: 930px) {
    .digital {
      grid-column: 2 / 3;
      grid-row: 4 / 5; } }

.done {
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  grid-row: 6 / 7;
  background: #f3f5f6;
  padding: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px; }
  @media screen and (min-width: 930px) {
    .done {
      grid-row: 5 / 6; } }

.references {
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  grid-row: 7 / 8;
  background: #f3f5f6;
  padding: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px; }
  @media screen and (min-width: 930px) {
    .references {
      grid-row: 7 / 8; } }

.contact {
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  grid-row: 8 / 9;
  background: #f3f5f6;
  padding: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px; }
  @media screen and (min-width: 930px) {
    .contact {
      grid-row: 8 / 9; } }

.footer {
  display: flex;
  justify-content: center;
  background: white;
  grid-column: 1 / 3;
  grid-row: 8 / 9;
  margin-top: 25px;
  color: #efefef;
  font-size: 0.8rem;
  font-weight: lighter; }
  @media screen and (min-width: 930px) {
    .footer {
      grid-row: 9 / 10; } }

/*# sourceMappingURL=style.css.map */