.footer {
  display: flex;
  justify-content: center;
  background: white;
  grid-column: 1 / 3;
  grid-row: 8 / 9;
  margin-top: 25px;
  color: $light;
  font-size: 0.8rem;
  font-weight: lighter;

  @media screen and (min-width: 930px) {
    grid-row: 9 / 10;
  }
}