.stage {
  display: flex;
  height: 100px;
  width: 100px;
  grid-column: span 2;
  background: blue;
}

.who {
  background: purple;
}

.get {
  background: yellow;
}

.digital {
  background: green;
}

.done {
  background: red;
}

.references {
  background: orange;
}

.contact {
  background: orangered;
}
