.stage {
  grid-area: s;
}

.who {
  grid-area: w;
}

.get {
  grid-area: g;
  background: dark;
}

.digital {
  grid-area: d;
}

.done {
  grid-area: do;
}

.references {
  grid-area: r;
}

.contact {
  grid-area: c;
}
